<!DOCTYPE html>
<html>
  <head>
    <title>MangaChoice</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
